.tw-d-none {
  display: none !important;
}

/* Custom file uploader */
.tw-file-label {
  @apply flex w-full cursor-pointer relative overflow-hidden h-full w-full;
}
.tw-file-label .file-cta {
  @apply bg-gray-1 border border-gray-3 p-4 h-full w-full whitespace-nowrap inline-flex text-sm text-gray-5 items-center justify-center;
}
.tw-file-input {
  @apply h-full absolute left-0 top-0 opacity-0 w-full cursor-pointer;
}
.tw-file-label:hover .file-cta {
  @apply bg-blue-1 border-dashed border-blue-3 text-blue-4;
}

.tw-file-label .file-cta .file-icon {
  @apply mr-3;
}
.tw-file-label .file-drop-target.file-drop-dragging-over-frame .file-icon svg path,
.tw-file-label .file-drop-target.file-drop-dragging-over-frame .file-icon svg rect,
.tw-file-label:hover .file-icon svg path,
.tw-file-label:hover .file-icon svg rect {
  stroke: #295da1 !important;
}
.tw-file-label .file-drop-target.file-drop-dragging-over-frame .file-icon svg .path-bg,
.tw-file-label:hover .file-icon svg .path-bg {
  fill: #89a1c0 !important;
}
.tw-file-label .image-uploader-wrap {
  @apply absolute w-full h-full;
}
.tw-file-label .file-drop-target {
  @apply absolute w-full h-full;
}
.tw-file-label .file-drop-target.file-drop-dragging-over-frame {
  @apply rounded-none;
}
.tw-file-label .file-drop-target.file-drop-dragging-over-frame .file-cta {
  @apply bg-blue-1 text-blue-4;
}

/* Story header */
.create-story-header.fixed .btn {
  @apply shadow-md;
}

/* ====================== */
.story-tap-button {
  @apply hidden;
}
.story-box {
  @apply max-w-story-box w-full rounded-xlg md:rounded-none flex flex-col;
}

.story-box.add-person-box,
.story-box.add-category-box {
  @apply max-w-story-box rounded-xlg shadow-none border-0;
}

.story-box.has-image {
  @apply rounded-none;
}
.main-image-uploader-wrap {
  @apply absolute w-full h-full top-0 left-0;
  padding: 50px;
}
.main-image-uploader-wrap .tw-file-label .file-cta {
  @apply border-dashed;
}
.has-image .main-image-uploader-wrap {
  @apply hidden;
}
.main-stroy-img {
  @apply relative bg-white items-center justify-center flex mx-auto lg:mx-0 w-full border border-gray-2 mb-6;
  min-height: 300px;
  box-shadow: 0px 11px 34px -8px rgba(0, 0, 0, 0.05);
}

.main-stroy-img .image-cont .delete-button-container {
  @apply absolute right-4 top-4 z-50 lg:opacity-0 transition delay-75 duration-300;
}

.main-stroy-img .image-cont .images-actions {
  @apply absolute top-4 z-50 opacity-0 transition delay-75 duration-300 justify-center w-full flex;
}
.main-stroy-img .image-cont .images-actions .btn {
  border: 0;
}
.main-stroy-img .image-cont:hover .delete-button-container,
.main-stroy-img .image-cont:hover .images-actions {
  @apply opacity-100;
}

/* Image layouts */

.main-stroy-img .image-container .single-img {
  @apply relative;
  transition: all 0.3s ease;
}

.main-stroy-img .image-container .single-img img,
.main-stroy-img .image-container .second-image img {
  @apply w-full h-full absolute overflow-hidden left-2/4 top-2/4 transform -translate-x-2/4 -translate-y-2/4;
  will-change: transform;
  transition: all 0.3s ease;
}

.main-stroy-img.multiple-images .image-container {
  max-height: 655px;
  overflow: hidden;
}

.main-stroy-img.fill .image-container .single-img img,
.main-stroy-img.square .image-container .single-img img {
  @apply object-cover;
}

/* Multiple images */
.main-stroy-img.multiple-images .image-container .single-img,
.main-stroy-img.multiple-images .image-container .second-image {
  @apply overflow-hidden;
  max-width: 400px;
  width: 400px;
  height: 287px;
  margin: 26px auto;
}

.main-stroy-img.multiple-images .image-container .single-img img,
.main-stroy-img.multiple-images .image-container .second-image img {
  @apply w-full h-full object-cover;
}
.main-stroy-img.multiple-images .image-container .single-img,
.main-stroy-img.multiple-images .image-container .second-image,
.main-stroy-img.multiple-images .image-container .image-cont.sm-item {
  @apply bg-gray-1;
}

.main-stroy-img.multiple-images .image-container .image-cont.sm-item img {
  @apply w-auto h-auto min-w-0 relative;
  transition: none;
}

.main-stroy-img.multiple-images.choose-img p.info {
  @apply lg:hidden;
}

/*  ====== Image layouts ends ======  */

.story-box .story-body {
  @apply px-12 py-11 border border-gray-2 bg-white;
  width: 500px;
  box-shadow: 0px 11px 34px -8px rgba(0, 0, 0, 0.05);
}

.story-box .story-body .story-content {
  @apply w-full;
}
.story-box .story-body .story-title h2 .text-4xl {
  font-size: 32px;
}
.story-box .story-body .story-title textarea {
  @apply font-normal resize-none overflow-hidden;
  font-size: 32px;
}
.story-box .story-body .location-field input,
.story-box .story-body .date input {
  font-family: "Atlas Grotesk Web Medium", sans-serif !important;
}
.story-box .story-body .date input:-webkit-autofill,
.story-box .story-body .date input:-webkit-autofill:hover,
.story-box .story-body .date input:-webkit-autofill:focus {
  -webkit-text-fill-color: #747578;
}

.story-box .file-drop-target {
  @apply rounded-xlg w-full md:flex mx-auto md:mx-0;
}
.story-box .file-drop-target.file-drop-dragging-over-frame {
  @apply border border-blue-3 bg-blue-2 border-dashed;
}
.story-box .story-description {
  @apply text-sm relative;
  padding-top: 2px;
}
.story-box .story-description .public-DraftEditorPlaceholder-root {
  @apply absolute text-gray-4;
}

.story-box .story-description .DraftEditor-editorContainer {
  @apply text-gray-7;
  min-height: 84px;
}
.story-box .story-footer {
  @apply mt-6;
}

.limit-alert-box {
  max-width: 614px;
  box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.2);
}

/* New page*/
.story-new-page {
  padding: 50px;
}

/* Cropper */

.crop-modal {
  @apply sm:top-0 sm:left-0 sm:right-0 sm:bottom-0;
}

.crop-modal .max-w-edit-search-modal-w {
  max-width: 455px;
  /* sm:-translate-y-2/4 */
}

.crop-modal .crop-section {
  @apply py-2;
}
.crop-section .reactEasyCrop_Container {
  @apply bg-black opacity-100;
}
.crop-section .crop-container {
  @apply opacity-100;
}

.crop-modal .controls .MuiSlider-thumb {
  width: 16px;
  height: 16px;
  margin-top: -7px;
}

.crop-modal .controls .icon-bgColor {
  @apply bg-white;
}

/* Cropper Ends */

/* Widget */
.layout-switch-widget {
  @apply absolute sm:bottom-4 bg-white px-1.5 py-2.5 sm:px-1 sm:py-1.5 rounded-xl sm:rounded-md flex;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}

.layout-switch-widget .widget-btn {
  @apply bg-gray-3 mx-3 sm:mx-2 w-4 relative overflow-hidden flex justify-center items-center flex-col;
  height: 18px;
  border-radius: 1px;
}
.layout-switch-widget .widget-btn:before,
.layout-switch-widget .widget-btn.multi-lt-btn:after {
  @apply bg-gray-4;
  content: "";
}
.layout-switch-widget .widget-btn.active:before,
.layout-switch-widget .widget-btn.multi-lt-btn.active:after {
  @apply bg-gray-7 left-1/2;
}
.layout-switch-widget .widget-btn.fit-lt-btn:before {
  @apply w-4 h-2.5;
}
.layout-switch-widget .widget-btn.fill-lt-btn:before {
  @apply w-full h-full;
}
.layout-switch-widget .widget-btn.square-lt-btn:before {
  @apply w-2.5 h-2.5;
}
.layout-switch-widget .widget-btn.border-lt-btn:before {
  @apply w-3 h-3.5;
}
.layout-switch-widget .widget-btn.multi-lt-btn:before {
  @apply w-3 h-1.5;
}
.layout-switch-widget .widget-btn.multi-lt-btn:after {
  @apply w-3 h-1.5;
}
.layout-switch-widget .widget-btn.multi-lt-btn:before,
.layout-switch-widget .widget-btn.multi-lt-btn:after {
  margin: 1px 0;
}

.widget-tooltip span {
  font-size: 10px;
}

/* Widget end */

/* Story Categories */
.story-box .categories .cat-button {
  @apply cursor-pointer mr-1.5 mb-2 inline-block select-none;
}
.story-box .categories .cat-button .label {
  @apply bg-gray-2 rounded-full text-xs px-3 py-2 inline-block;
}
.story-box .categories .cat-button input {
  @apply absolute opacity-0 cursor-pointer h-0 w-0;
}

.story-box .categories .cat-button input:checked ~ .label {
  @apply bg-blue-4 text-white;
}

/* Saved Story View */
/* ======================================== */

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }

  50% {
    -webkit-transform: scale3d(1.25, 1.25, 1.25);
    transform: scale3d(1.25, 1.25, 1.25);
  }

  to {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }

  50% {
    -webkit-transform: scale3d(1.25, 1.25, 1.25);
    transform: scale3d(1.25, 1.25, 1.25);
  }

  to {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}

.animate__pulse {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}

.rail-opened .main-wrapper {
  padding-right: 410px;
}
.view-options-wrap {
  @apply mx-auto z-500;
  max-width: 840px;
}
.view-options-wrap .default-color,
.view-options-wrap .btn {
  @apply text-gray-6 !important;
}
.view-options-wrap .view-state-btns svg path {
  stroke: #555658;
}
.view-options-wrap .liked-btn {
  @apply text-red;
}

.view-options-wrap .view-top-icon {
  @apply hidden;
}

.rail-head {
  @apply top-20 -mt-1 right-6;
}

.rail-head .icon-btn .btn,
.view-top-icon .btn,
.rail-r-top-like-btn .btn {
  @apply w-10 h-10 p-0 justify-center;
}
.rail-right .like-btn-txt {
  @apply hidden;
}
.rail-right.open .rail-head {
  @apply top-7 right-0 pr-6;
}

.rail-right:not(.open) {
  @apply top-2;
}
.rail-right.open {
  @apply bottom-0 h-full flex-nowrap items-end flex;
  width: 380px;
}

.rail-right.open .rail-right-content-wrap {
  @apply flex flex-col border-l border-gray-2 bg-white rounded-r-2xl w-full;
  height: calc(100vh - 32px);
}
.rail-right.open.fixed .rail-right-content-wrap {
  height: 100vh;
}
.close-rail .swapper,
.rail-v-buttons .swapper,
.view-top-icon .btn div {
  @apply justify-center w-full;
}

.close-rail .ml-2.typo-font-light,
.rail-v-buttons .ml-2.typo-font-light,
.view-options-wrap .view-top-icon .ml-2.typo-font-light {
  @apply hidden;
}

.rail-right:not(.open) .rail-v-buttons svg path {
  @apply text-gray-7;
}

.rail-right.open .rail-v-buttons {
  @apply flex;
}
.rail-right:not(.open) .rail-v-buttons {
  position: fixed;
}

.nfc-count {
  min-width: 18px;
  height: 18px;
  border-radius: 4px;
}

.rail-right:not(.open) .tabs,
.rail-right:not(.open) .comment-form {
  @apply hidden;
}

.rail-right.open .rail-content {
  @apply overflow-hidden overflow-y-auto flex-grow relative;
  height: inherit;
}

.rail-content .tabs {
  @apply justify-center;
}
.comment-tab,
.detail-tab {
  width: 166px;
}
.comment-tab.active-tab .default-color,
.detail-tab.active-tab .default-color {
  @apply text-black;
}

.comment-tab path,
.detail-tab path {
  stroke: #747578;
}

.comments-input-text {
  @apply border border-gray-3 focus:ring-2 focus:ring-blue-4 outline-none rounded-lg px-4 py-2 placeholder-gray-4 text-sm min-h-10
}

.detail-tab rect {
  fill: #747578;
}

.comment-tab.active-tab path,
.detail-tab.active-tab path {
  stroke: #000;
}

.detail-tab.active-tab rect {
  fill: #000;
}

/* =================== */
.saved-story-wrap .main-stroy-img .image-container .single-img img,
.saved-story-wrap .main-stroy-img .image-container .second-image img {
  transition: none !important;
}

.saved-story-wrap .main-stroy-img {
  @apply p-0 overflow-hidden;
}

.saved-story-wrap .story-box {
  @apply rounded-none;
}

.saved-story-wrap .story-box .story-body {
  @apply overflow-y-auto;
}

.saved-story-wrap.has-image .story-box {
  margin: 0 auto;
}
.saved-story-wrap .story-content .defaultText, .story-body-r .defaultText {
  @apply break-words block;
}

.character-count .count {
  @apply text-center;
  min-width: 72px;
}

/* Multiple Pages*/

.view-story .saved-story-wrap.has-long-text .story-body,
.view-story .saved-story-wrap.has-long-text .story-body-r {
  min-width: 500px;
}
.saved-story-wrap.has-long-text .story-body-r {
  @apply relative;
  padding: 50px;
  height: 700px;
}
.sb-newpage {
  @apply relative max-w-story-box-lg w-full;
}

.chunkContainer {
  @apply flex flex-wrap;
}
.longStorycontainer-block {
  @apply border border-gray-2 relative;
  padding: 50px;
  width: 50%;
  height: 700px;
  box-shadow: 0px 11px 34px -8px rgba(0, 0, 0, 0.05);
}
#longStorycontainer {
  position: absolute;
  width: 400px;
  height: 600px;
  font-size: 14px;
  z-index: -1;
}

.longStorycontainer {
  word-wrap: break-word;
  width: 400px;
  height: 600px;
}
.longStorycontainer span {
  @apply block;
}

.longStorycontainer.left:before {
  @apply absolute w-6 h-full top-0 bg-white z-10;
  content: "";
  right: -10px;
}
.longStorycontainer.left:after,
.saved-story-wrap.has-long-text .story-body-r:after {
  @apply absolute h-full top-0 z-20 right-0 bg-gray-2;
  content: "";  
  width: 1px;
}
.saved-story-wrap.has-long-text .story-body-r:after {
  @apply left-0 right-auto;
}

#Test {
  @apply absolute whitespace-nowrap w-auto h-auto top-0 invisible;
  font-size: 14px;
  line-height: 20px;
  padding: 50px;
  font-family: "Atlas Grotesk Web Regular", sans-serif !important;
}

#contentWrapper {
  @apply flex flex-wrap;
}

#newChunkContainer {
  @apply invisible absolute top-0;
}

#newChunkContainer {
  width: 500px;
  padding: 50px;
  /* width: 100%; */
  height: 700px;
  font-size: 14px;
  line-height: 20px;
}

/* Saved story dropdown */

.saved-story-actions {
  @apply absolute top-6 right-6 z-50;
}
.saved-story-actions .ellipsis-button {
  @apply p-0 justify-center;
  width: 32px;
  height: 32px;
}

.story-dropdown {
  @apply absolute right-0 top-12 bg-white rounded-lg py-2.5 w-36;
}
.privacy-dropdown,
.story-dropdown {
  box-shadow: 0px 4px 24px -4px rgba(0, 0, 0, 0.15);
}
.story-dropdown button,
.story-dropdown a {
  @apply whitespace-nowrap px-4 py-2 w-full text-left block;
}
.story-dropdown button span,
.story-dropdown a span{
  @apply ml-2;
}
.story-dropdown a:hover,
.story-dropdown button:hover {
  @apply bg-gray-1;
}

/* Tagged persons */
.person-dropdown {
  @apply px-2.5 pt-3 rounded-lg;
  min-width: 324px;
  padding-bottom: 1px;
}

.person-dropdown .media-wrap {
  min-height: 40px;
}
.person-dropdown .media-wrap.min-66 {
  min-height: 66px;
}
.person-dropdown .media-wrap .media-text span {
  display: block;
}
.person-dropdown .actions .btn {
  @apply py-3 bg-gray-2 hover:bg-gray-3 bg-gray-2 hover:bg-gray-3 cursor-pointer;
}

#tw-person-dropdown .MuiPopover-paper {
  padding: 6px 0 5px;
  overflow: visible;
  box-shadow: none;
  background-color: transparent;
}

#tw-person-dropdown .MuiPopover-paper .person-dropdown {
  @apply bg-white;
  box-shadow: 0px 6px 36px -6px rgba(0, 0, 0, 0.15);
}

.clip-story .privacy-dropdown {
  @apply right-0 left-auto;
}
/* Media Query */
/* ===================================== */
@media (min-width: 548px) {
  .rail-right {
    min-height: 425px;
    min-width: 200px;
  }
  .add-img-mobile-btn {
    @apply hidden;
  }
  .main-stroy-img {
    width: 500px;
  }
}
@media (min-width: 768px) {
  .story-box .story-body,
  .saved-story-wrap .story-box .story-body {
    max-height: 700px;
  }

  /* New page */

  .story-box.add-person-box,
  .story-box.add-category-box {
    @apply border-0;
  }

  .story-box.add-person-box .story-body,
  .story-box.add-category-box .story-body {
    @apply shadow-none border border-gray-3 rounded-xlg;
  }
  .add-person-box.story-box .story-body {
    @apply sm:py-12  overflow-y-visible max-h-full;
  }
  .saved-story-wrap:not(.has-image) {
    @apply max-w-story-box;
  }
  .saved-story-wrap:not(.has-image) .story-box .story-body {
    @apply w-full;
  }
}

@media (min-width: 1048px) {
  .my-story-area {
    @apply flex;
  }
  .story-box {
    @apply max-w-story-box-lg border border-gray-2;
    box-shadow: 0px 11px 34px -8px rgba(0, 0, 0, 0.05);
  }

  .story-box .story-body {
    @apply overflow-y-auto border-0;
    box-shadow: inset 1px 0px 0px #efefef;
  }

  .main-stroy-img {
    @apply mb-0 border-none shadow-none;
    min-height: 700px;
  }
  .view-state-like-btn,
  .view-state-btns {
    @apply ml-4;
  }
  .view-story .saved-story-wrap.has-long-text {
    @apply max-w-story-box-lg;
  }
}

@media (min-width: 1048px) and (max-width: 1111px) {
  .rail-v-buttons {
    @apply hidden;
  }

  .view-options-wrap .view-top-icon {
    @apply flex;
  }
}
@media (min-width: 1048px) and (max-width: 1427px) {
  .rail-opened .story-box {
    @apply shadow-none border-0;
  }
  .rail-opened .main-stroy-img {
    @apply bg-white mb-6;
    min-height: 300px;
    box-shadow: 0px 11px 34px -8px rgba(0, 0, 0, 0.05);
  }
  .rail-opened .story-body {
    @apply bg-white border border-gray-2;
    box-shadow: 0px 11px 34px -8px rgba(0, 0, 0, 0.05);
  }
}

@media (max-width: 1427px) {
  .view-top-icon.top-edit-btn > .icon-btn {
    @apply mb-0 !important;
  }
  .rail-opened .v-top-container {
    @apply flex-col mx-auto;
    max-width: 500px;
  }
  .rail-opened .v-head-avatar {
    @apply mx-auto mb-6;
  }
  .rail-opened .vew-btns-block {
    @apply justify-center;
  }
  .rail-opened .story-box {
    @apply max-w-story-box mx-auto;
  }
  .rail-opened .my-story-area {
    @apply flex-col;
  }
  .rail-opened .story-body-r {
    @apply border border-gray-2 mt-6;
    box-shadow: 0px 11px 34px -8px rgba(0, 0, 0, 0.05);
  }

  .longStorycontainer-block {
    width: 500px;
  }
  .rail-opened .chunkContainer {
    @apply flex-col;
  }
  .rail-opened .longStorycontainer-block {
    @apply mx-auto;
  }
  .rail-opened .story-body-r:after,
  .rail-opened .longStorycontainer:before,
  .rail-opened .longStorycontainer:after {
    @apply hidden;
  }
}

@media (max-width: 1047px) {
  .view-options-wrap {
    max-width: 500px;
  }
  .rail-right.open {
    z-index: 501;
  }
  .chunkContainer,
  .v-top-container {
    @apply flex-col;
  }
  .v-top-container .v-head-avatar {
    @apply mx-auto mb-6;
  }

  .v-top-container .vew-btns-block {
    @apply w-full justify-center;
  }
  .view-state-like-btn {
    @apply mx-2;
  }
  .view-state-btns {
    @apply mx-2;
  }
  .longStorycontainer-block {
    @apply mx-auto;
  }
  .has-long-text .story-body-r {
    @apply border border-gray-2 mt-6;
    box-shadow: 0px 11px 34px -8px rgba(0, 0, 0, 0.05);
  }

  .has-long-text .story-body-r:after {
    @apply hidden;
  }
}

@media (max-width: 1023px) {
  .buton-wrap-top {
    @apply items-center z-500;
    min-height: 64px;
  }
  /* ============== */

  .story-box.add-person-box .story-body,
  .story-box.add-category-box .story-body {
    @apply w-full;
  }
  /* Delete, Crop & swap buttons */
  .delete-button-mobile {
    @apply absolute z-30 top-6 right-6;
  }

  .delete-button-container button,
  .delete-button-mobile button {
    @apply bg-opacity-100;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  }

  .main-stroy-img.multiple-images .delete-button-mobile,
  .delete-button-container {
    @apply hidden;
  }
  .story-box.add-story-view .main-stroy-img.multiple-images .delete-button-container {
    @apply flex;
    top: -15px;
    right: -13px;
  }

  .story-box.add-story-view .main-stroy-img.multiple-images.choose-img .delete-button-container {
    @apply hidden;
  }
  .main-stroy-img.multiple-images.choose-img .mobile-crop-button {
    @apply fixed bottom-0;
  }

  /* Story preview */
  .story-box.has-image.add-story-view .main-stroy-img {
    @apply overflow-hidden;
  }

  /* Add story view */

  .add-story-view .main-stroy-img.multiple-images .image-container {
    @apply px-4;
  }
  .add-story-view .main-stroy-img.multiple-images .image-cont {
    @apply overflow-visible;
  }

  .main-stroy-img.multiple-images.choose-img {
    @apply bg-black;
  }
  .main-stroy-img.multiple-images.choose-img p.info {
    @apply absolute -top-2;
  }
  /* Main Story view */
  .main-stroy-img {
    @apply bg-white;
  }

  /* ================================ */
  .swap-button-mobile {
    @apply absolute pb-1 hidden;
    bottom: -60px;
  }
  .mobile-crop-button {
    @apply absolute pb-6 hidden w-full justify-center;
    min-height: 1px;
    bottom: -145px;
  }
  .story-box.add-story-view .swap-button-mobile,
  .story-box.add-story-view .mobile-crop-button {
    @apply flex;
  }
}
@media (max-width: 927px) {
  .rail-opened .main-wrapper {
    @apply pr-0 ml-0;
    max-width: 500px;
  }
}
@media (max-width: 767px) {
  .story-box .main-stroy-img {
    min-height: 300px;
  }

  .main-stroy-img {
    @apply h-auto;
    min-height: auto;
  }

  .add-story-view .main-stroy-img {
    min-height: 700px;
    max-height: 700px;
    width: 100%;
    height: auto;
  }

  .story-box.add-person-box .story-body,
  .story-box.add-category-box .story-body {
    @apply border-gray-3 shadow-none rounded-xlg;
  }
  .add-story-view.story-box .main-stroy-img {
    max-width: 500px;
  }
  /* Saved story view */
  /* ================================ */
  .saved-story-actions {
    @apply fixed top-4 right-4 z-1000;
  }
  .saved-story-wrap .main-stroy-img {
    min-height: auto;
    max-height: none;
  }
  .saved-story-wrap .story-box {
    @apply mx-auto;
  }
}

@media (max-width: 611px) {
  .vew-btns-block {
    @apply mx-auto;
    max-width: 500px;
  }
  .rail-v-buttons,
  .view-state-like-btn span.like-btn-txt,
  .view-state-btns .btn .ml-2.typo-font-light {
    @apply hidden;
  }
  .view-state-like-btn {
    @apply ml-0;
  }
  .view-state-like-btn .btn,
  .view-state-btns .btn {
    @apply p-0 w-10 h-10;
  }
  .view-state-like-btn .icon,
  .view-state-btns .btn .icon {
    @apply mx-auto;
  }
  .view-state-like-btn .icon svg path,
  .view-state-btns .btn .icon svg path,
  .view-top-icon .btn .icon svg path {
    stroke: #212122;
  }
  .view-state-like-btn .icon svg.fill_color path {
    stroke: #fc4040;
  }

  .top-edit-btn .btn .icon svg path {
    stroke: none;
  }
  .view-state-btns .btn div.flex {
    @apply w-full;
  }
  .view-options-wrap .view-top-icon {
    @apply flex;
  }
  .view-options-wrap .head-comment-icon {
    @apply ml-auto;
  }
}

@media (max-width: 547px) {
  .create-story.story-page-wrap .main-wrapper {
    @apply px-0 !important;
  }
  .create-story.story-page-wrap .story-body {
    @apply px-4;
  }

  .save-draft-button div span {
    @apply overflow-hidden whitespace-nowrap px-0;
    width: 38px;
  }
  .prev-stp-btn {
    @apply hidden;
  }
  .story-body-r {
    @apply hidden;
  }
  .story-box {
    @apply max-w-full;
    box-shadow: none;
  }
  .story-box .main-stroy-img {
    @apply border-0 shadow-none;
    max-width: 548px !important;
  }
  .add-story-view.story-box.has-image .main-stroy-img,
  .add-story-view.story-box.has-image .story-body {
    @apply w-full;
    min-width: 0;
  }
  .add-story-view .main-stroy-img.multiple-images .image-container {
    max-height: 485px;
  }

  /* Main Story view */

  .rail-right.open {
    @apply w-full;
  }

  .vew-btns-block {
    @apply mb-4;
  }
  .saved-story-wrap.has-image,
  .story-box.has-image:not(.add-story-view) {
    position: relative;
    top: -26px;
  }
  .saved-story-wrap.has-image .main-stroy-img,
  .story-box.has-image:not(.add-story-view) .main-stroy-img {
    @apply -ml-3 -mr-3 w-auto;
  }
  .story-box.has-image:not(.add-story-view) .main-stroy-img.fit {
    padding: 30px 0;
  }
  .add-story-view .main-stroy-img {
    @apply mb-0;
    min-height: 200px;
    max-height: 525px;
  }
  .main-stroy-img .image-container {
    @apply overflow-hidden;
  }

  .main-stroy-img.multiple-images .image-container .single-img,
  .main-stroy-img.multiple-images .image-container .second-image {
    max-width: 300px;
    height: 215px;
    margin: 18px 0;
  }

  /* Story content */
  .story-box .story-body {
    @apply w-full py-8 px-1 shadow-none border-0;
  }
  .character-count .count {
    min-width: 0;
  }

  /* New pages */
  .view-story .saved-story-wrap.has-long-text .story-body,
  .view-story .saved-story-wrap.has-long-text .story-body-r {
    @apply pt-0;
    min-width: min-content;
  }
  .view-story .saved-story-wrap.has-long-text .story-body-r,
  .longStorycontainer-block {
    @apply w-full p-0 border-0 shadow-none mb-6 h-auto;
  }
  .longStorycontainer,
  #longStorycontainer {
    @apply w-full h-auto;
  }

  #Test,
  #newChunkContainer {
    @apply hidden;
  }

  /* layout-switch-widget */
  .layout-switch-widget {
    bottom: 24px;
  }

  .layout-switch-widget .widget-btn {
    @apply w-6;
    height: 27px;
  }
  .layout-switch-widget .widget-btn.fit-lt-btn:before {
    @apply w-6;
    height: 15px;
  }
  .layout-switch-widget .widget-btn.square-lt-btn:before {
    width: 16px;
    height: 15px;
  }
  .layout-switch-widget .widget-btn.border-lt-btn:before {
    width: 18px;
    height: 21px;
  }
  .layout-switch-widget .widget-btn.multi-lt-btn:before {
    margin-bottom: 2px;
  }
  .layout-switch-widget .widget-btn.multi-lt-btn:before,
  .layout-switch-widget .widget-btn.multi-lt-btn:after {
    width: 18px;
    height: 9px;
  }

  .swap-button-mobile {
    bottom: -81px;
  }
  .mobile-crop-button {
    bottom: -177px;
  }
}
