.file-drop {  
    @apply relative w-full h-full cursor-pointer; 
  }
  
  .file-drop > .file-drop-target {
    /* basic styles */
    @apply absolute top-0 left-0 w-full h-full bg-white border border-dashed border-gray-3 rounded-xl flex flex-col 
    justify-center content-center text-center text-base font-medium text-gray-5 
    hover:bg-blue-1 hover:border-blue-4 hover:text-blue-5 cursor-pointer;  
  }
  .upload-img {
    @apply w-full h-16 md:h-24;
  }
  .add-photo-uploader {
    @apply flex justify-center items-center;
  }
  .addPhoto-txt {
    @apply mt-1 ml-2;
  }
 @media screen and (max-width: 1023px) {
    .addPhoto-txt {
      display: none;
    }
    .add-photo-uploader .icon-large svg {
      width: 60%; margin: 0 auto;
    }
}

    
  
    